@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.blog-preview {
  max-width: 100%;
  margin: 30px 150px 30px;
  height: 120px;
}
.blog-preview:hover {
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.create {
  max-width: 100%;
  margin: 0 150px 40px;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 40px;

  margin-bottom: 30px;
}
.create input,
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create textarea {
  height: 200px;
  font-size: 20px;
}
.create input {
  font-size: 20px;
}
.create button {
  font-size: 25px;
  color: rgb(0, 0, 0);
  background-color: rgb(73, 85, 255);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-weight: bold;
}
.blog-list input {
  text-align: center;
  height: 30px;
  width: 700px;
  margin-left: 25%;
  font-size: 20px;
}
.search {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
}
.addAndCreate {
  max-width: 100%;
  margin: 0 150px 40px;
  text-align: center;
  display: flex;
}
.addAndCreate button,
.addAndCreate input {
  width: 100%;
  padding: 15px 25px;
  margin: 50px 0 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 22px;
}
.addAndCreate button {
  width: 20%;
}
.addAndCreate input {
  width: 80%;
}
